/* Styling for the all components is done here */

/* Imported the following font from Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,300;8..144,400;8..144,500&family=Source+Sans+Pro:wght@400;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* The following styles all list elements */
ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li{
  padding: 0 10px;
}

ul li h1{
  font-size: 300%;
}

/* Created a grid layout */
.gridContainer{
  background-color: #3B357C;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 0.3fr 1fr 0.3fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
  ". . . "
  ". content . "
  ". . . ";
}

/* Styles the content class */
.content{
  background-color: #FFFFFF;
  grid-area: content;
  border-radius: 36px;
  height: 100%;
  width: 100%;
}

/* Styles all components with the following class */
.flexContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* Styles all components with the following class */
.wordList{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styles all components with the following class */
.buttons{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}

/* Styles all components with the following class */
.keyboard{
  height: 50%;
  width: 50%;
}

/* Styles all the buttons within the following class */
.keyboard button{
  font-size: 150%;
  font-weight: bold;
  width: 60px;
  height: 60px;
  margin: 2px 2px;
  border: none;
  border-radius: 12px;
  color:#3B357C;
  background-color: #DBD46A;
}

/* Styles all the buttons that are set to disabled within the following class */
.keyboard button:disabled{
  color:#dbd46a81;
  background-color: #40398e7c;
}

/* Styles all components with the following class */
.help{
  height: auto;
}

/* Styles all components with the following class */
.images{
  height: 25%;
  width: 25%;
}

/* Styles all images within the following class */
.images img{
  height: 100%;
  width: 100%;
  border-radius: 36px;
}

/* Styles all components with the following class */
.resetBtn{
  margin: 20px 0;
}

/* Styles all buttons within the following class */
.resetBtn button{
  font-size: 120%;
  border: none;
  border-radius: 12px;
  padding: 5px 10px;
  background-color: #3B357C;
  color:#DBD46A;
  font-weight: 700;
}

/* Styles all buttons within the following class and adds a hover effect */
.resetBtn button:hover{
  color:#3B357C;
  background-color: #DBD46A;
}

/* Styles all components with the following class */
.helpBtn{
  padding-bottom: 20px;
}

/* Styles all buttons within the following class */
.helpBtn button{
  font-size: 120%;
  border: none;
  border-radius: 12px;
  padding: 5px 20px;
  background-color: #3B357C;
  color:#DBD46A;
  font-weight: 700;
}

/* Styles all buttons within the following class and adds a hover effect */
.helpBtn button:hover{
  color:#3B357C;
  background-color: #DBD46A;
}

/* Styles all components with the following class */
.livesLeft{
  padding-top: 10px;
}

/* Styles all span elements within the following class */
.livesLeft span{
  font-size: 120%;
}

/* Styles all components with the following class */
.gameTitle{
  font-size: 300%;
  font-weight: 700;
  letter-spacing: 5px;
  padding-top: 10px;
}

/* Styles all components with the following id */
#popover-contained{
  max-width: 600px;
  font-family: 'Source Sans Pro', sans-serif;
  border: none;
}

/* Styles all components that have the ".popover-header" class within the component with the following id */
#popover-contained .popover-header{
  background-color: #DBD46A;
  color:#3B357C;
}

/* Styles all h1 elements within the component with the following id */
#popover-contained h1{
  font-size: 200%;
  font-weight: bold;
}

/* Styles all components that have the ".popover-body" class within the component with the following id */
#popover-contained .popover-body{
  font-size: 150%;
  background-color: #3B357C;
  color:#DBD46A;
}

/* Styles all components with the following class */
.modal-header{
  background-color: #DBD46A;
  color:#3B357C;
}

/* Styles all components with the following class */
.modal-body{
  background-color: #3B357C;
  color:#DBD46A;
}

/* Styles all p elements within the following class */
.modal-body p{
  font-size: 120%;
}

/* Styles all components with the following class */
.modal-footer{
  background-color: #3B357C;
  color:#DBD46A;
}

/* Styles all button elements within the following class */
.modal-footer button{
  background-color: #DBD46A;
  color:#3B357C;
  border: none;
  font-weight: bold;
}

/* Styles all components with the following class and adds hover effect */
.modal-footer button:hover {
  background-color: #3B357C;
  color:#DBD46A;
  border: none;
}
